@import "../../../themes/colors/index.scss";

.containerModal__box__hangout {
  margin-top: 16px;
  .ant-picker-focused {
    border: 1.5px solid #00d677 !important;
  }
  .ant-btn-primary {
    background-color: #00d677 !important;
  }
  .ant-segmented-group {
    background-color: #fff;
    // border: 1.5px solid #00d677;
    border-radius: 8px;
    .ant-segmented-item {
      transition: #00d677 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .ant-segmented-item-selected {
      background-color: #00d677;
      color: #fff;
    }
    .ant-segmented-thumb {
      background-color: #00d677;
      color: #fff;
    }
  }
  &__textarea {
    margin-top: 16px;
    &__input__box {
      width: 100%;
      border: 1.5px solid $grey-900-01;
      border-radius: 8px;
      padding: 4px 11px;
      resize: none;
      &:focus-visible {
        outline: none;
        border: 1.5px solid #00d677;
      }
    }
  }
  &__control {
    margin-top: 16px;
    width: 100%;
    &__content {
      margin-top: 16px;
      &__box {
        border-radius: 8px;
        border: 1.5px solid $grey-900-01;
        padding: 20px;
        &__item {
          display: flex;
          align-items: center;
          &__unit {
            display: flex;
            justify-content: flex-end;
            font-size: 18px;
            font-weight: 500;
          }
          &__title {
            font-size: 18px;
            font-weight: 500;
            &__note {
              font-weight: 400;
              font-size: 12px;
              margin-bottom: 16px;
            }
          }
          &__content {
            margin-bottom: 16px;
            width: 100%;
            &__left {
            }
            &__right {
              display: flex;
              justify-content: flex-end;
              text-align: end;
            }
          }
        }
      }
    }
  }
}
.containerModal__hangout {
  .ant-modal-content {
    width: 700px;
  }
  .ant-modal-footer {
    .ant-btn-default {
      &:hover {
        border-color: #00d677 !important;
        color: #00d677 !important;
      }
    }
    .ant-btn-dangerous {
      &:hover {
        border-color: #ff7875 !important;
        color: #ff7875 !important;
      }
    }
    .ant-btn-primary {
      background-color: #00d677 !important;
    }
  }
}
.containerModal__result__hangout {
  .ant-btn-primary {
    background-color: #00d677 !important;
  }
  .ant-btn-default {
    &:hover {
      border-color: #00d677 !important;
      color: #00d677 !important;
    }
  }
}
