$grey-900-01: rgba(23, 23, 23, 0.1);
$grey-900-03: rgba(23, 23, 23, 0.3);
$grey-900: rgb(23, 23, 23);
$bg-color: #f0f2f5;
$primary-color: #0a64c4;
$primary-color-hover: #074c95;
$primary-color-bg-hover: #deeeff;
$form-border: #d4d4d4;
$text: rgb(64, 64, 64);
$text-dark: #282828;
$danger-color-bg: rgba(220, 38, 38, 0.1);
$danger-color-text: #b91c1c;
$danger-color-hover: rgb(159, 23, 23);
$bg-profile: #7079b5;
$green-color: rgb(0, 133, 22);
$green-color-text: rgb(0, 106, 18);
$green-color-bg: rgba(0, 133, 22, 0.1);
$yellow-color: rgb(245, 158, 11);
$yellow-color-text: rgb(209, 133, 4);
$yellow-color-bg: rgba(245, 158, 11, 0.1);
