$grey-900-01: rgba(23, 23, 23, 0.1);
$grey-900: rgb(23, 23, 23);
$bg-color: #f0f2f5;
$primary-color: #3b49df;
$primary-color-hover: rgb(47, 58, 178);
$primary-color-bg-hover: #ebecfe;
$form-border: rgb(212, 212, 212);
$text: rgb(64, 64, 64);
$text-dark: rgb(40, 40, 40);
