$grey-900-01: rgba(23, 23, 23, 0.1);
$grey-900: rgb(23, 23, 23);
$bg-color: #f0f2f5;
$primary-color: #3b49df;
$primary-color-hover: #2f3ab2;
$primary-color-bg-hover: #ebecfe;
$form-border: #d4d4d4;
$text: rgb(64, 64, 64);
$text-dark: rgb(40, 40, 40);
$danger-color-bg: rgba(220, 38, 38, 0.1);
$danger-color-text: rgb(185, 28, 28);
