@import "../../../themes/colors/index.scss";

.containerModal__box__diaper {
  margin-top: 16px;
  .ant-picker-focused {
    border: 1.5px solid #ff4974 !important;
  }
  .ant-btn-primary {
    background-color: #ff4974 !important;
  }
  .ant-segmented-group {
    background-color: #fff;
    // border: 1.5px solid #ff4974;
    border-radius: 8px;
    .ant-segmented-item {
      transition: #ff4974 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .ant-segmented-item-selected {
      background-color: #ff4974;
      color: #fff;
    }
    .ant-segmented-thumb {
      background-color: #ff4974;
      color: #fff;
    }
  }
  .ant-rate .ant-rate-star-first {
    color: rgba(0, 0, 0, 0.4);
  }
  .ant-rate .ant-rate-star-second {
    color: rgba(0, 0, 0, 0.4);
  }
  .ant-rate .ant-rate-star-full .ant-rate-star-first {
    color: #79b9ff !important;
  }
  .ant-rate .ant-rate-star-full .ant-rate-star-second {
    color: #79b9ff !important;
  }
  &__textarea {
    margin-top: 16px;
    &__input__box {
      width: 100%;
      border: 1.5px solid $grey-900-01;
      border-radius: 8px;
      padding: 4px 11px;
      resize: none;
      &:focus-visible {
        outline: none;
        border: 1.5px solid #ff4974;
      }
    }
  }
  &__control {
    margin-top: 16px;
    width: 100%;
    &__content {
      margin-top: 16px;
      &__box {
        border-radius: 8px;
        border: 1.5px solid $grey-900-01;
        padding: 20px;
        &__item {
          display: flex;
          align-items: center;
          &__active {
            outline: 3px solid #ff4974;
          }
        }
      }
    }
  }
}
.containerModal__diaper {
  .ant-modal-content {
    width: 700px;
  }
  .ant-modal-footer {
    .ant-btn-default {
      &:hover {
        border-color: #ff4974 !important;
        color: #ff4974 !important;
      }
    }
    .ant-btn-dangerous {
      &:hover {
        border-color: #ff7875 !important;
        color: #ff7875 !important;
      }
    }
    .ant-btn-primary {
      background-color: #ff4974 !important;
    }
  }
}

.containerModal__result__diaper {
  .ant-btn-primary {
    background-color: #ff4974 !important;
  }
  .ant-btn-default {
    &:hover {
      border-color: #ff4974 !important;
      color: #ff4974 !important;
    }
  }
}
