@import "./themes/colors/index.scss";

.app {
  position: relative;
}
.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 5px;
  border-radius: 8px;
  background-color: $primary-color;
  display: none;
  cursor: pointer;
  &:hover {
    background-color: $primary-color-hover;
  }
}
.jwgc__btn__primary {
  border: none;
  background-color: $primary-color;
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: $primary-color-hover;
  }
}

.jwgc__btn__danger {
  border: none;
  background-color: $danger-color-text;
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: $danger-color-hover;
  }
}

.jwgc__btn__outline__danger {
  border: 1.5px solid $danger-color-text;
  padding: calc(8px - 1.5px) calc(16px - 1.5px);
  background-color: #fff;
  color: $danger-color-text;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    border: 1.5px solid $danger-color-hover;
    background-color: rgba(159, 23, 23, 0.1);
  }
}
.jwgc__btn__outline {
  border: 1.5px solid $primary-color;
  padding: calc(8px - 1.5px) calc(16px - 1.5px);
  background-color: #fff;
  color: $primary-color;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    border: 1.5px solid $primary-color-hover;
    background-color: $primary-color-hover;
    color: #fff;
  }
}

.jwgc__btn__outline__green {
  border: 1.5px solid $green-color;
  padding: calc(8px - 1.5px) calc(16px - 1.5px);
  background-color: #fff;
  color: $green-color;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    border: 1.5px solid $green-color;
    background-color: $green-color-bg;
    color: $green-color;
  }
}

.jwgc__btn__outline__yellow {
  border: 1.5px solid $yellow-color;
  padding: calc(8px - 1.5px) calc(16px - 1.5px);
  background-color: #fff;
  color: $yellow-color;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    border: 1.5px solid $yellow-color;
    background-color: $yellow-color-bg;
    color: $yellow-color;
  }
}

.ant-form-item-explain-error {
  color: rgb(220, 53, 69) !important;
  margin-top: 4px;
}
.ant-picker {
  border: 1.5px solid #d9d9d9;
}
.ant-picker-focused {
  border: 1.5px solid $primary-color !important;
  box-shadow: none !important;
}
